*{
   margin: 0.625rem;
   padding: 0;
   font-family:"Fredoka",sans-serif;
}
nav{
    display:flex;
    justify-content:space-between; 
}
.nav-items{
    display: flex ;
    justify-content:space-between; 
    align-items: center;
    font-size:1.2rem;
    font-weight: bolder;
}
 .navbar-image{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:22.5rem;
    height:3.3125rem;
}
.nav-item1{
    display:flex;
    justify-content:space-between;  
    color:orangered;
}
.intro-section{
    display:flex;
    justify-content:space-between;  
}
.left-section{
    font-family:"Fredoka","sans-serif";
}
h3{
    font-weight: 500;
    font-size: 2rem;
}
h1{
    font-weight:950;
    font-size: 3rem; 
    color: #000000;
    font-family:"Fredoka",sans-serif;
}
.text{
    color:#a9a3a3;
    font-weight:0.625rem;
    font-size:0.9rem;
    font-family:"Fredoka",sans-serif;
}
button{
    background-color:orangered;
    height: 2.5rem;
    width: 9.375rem;
    border-radius: 0.75rem;
    font-size: 1rem;
    text-align: center;
    color:white;
    border:0.0625rem solid orangered;
}
.headphone{
    position:fixed;
    top:6.25rem;
    left:48.125rem;
}
.discount{
    /* box-shadow: 10px 5px 5px grey; */
    position:fixed;
    top:18.125rem;
    left:45rem;
    z-index: 2;
}
h4{
    position:fixed;
    top:20rem;
    left:45rem;
    color:#fff; 
    z-index: 3;
    font-size:1rem;
}
.label{
    position:fixed;
    top:21.25rem;
    left:46.875rem;
    color:#fff; 
    z-index: 3;
    font-size:2rem;
}
.action-btn3{
    position:fixed;
    top:31.25rem;
    left:55.625rem; 
    font-size:1rem;
} 
.yellow-dot{
    height: 1.25rem;
    width: 1.25rem;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
}
.tomato-dot{
    height: 1.25rem;
    width: 1.25rem;
    background-color:orangered;
    border-radius: 50%;
    display: inline-block;
}
.black-dot{
    height: 1.25rem;
    width: 1.25rem;
    background-color:black;
    border-radius: 50%;
    display: inline-block;  
}
.dots{
    position:fixed;
    top:28.125rem;
    left:55.625rem;  
}
.orange{
    width:2rem;
    height:2rem;
    margin-top:0.125rem;
}
.sub-head{
    display:flex;
    flex-direction: row;
    /* border:0.0625rem solid red; */
}
.logo{
    width:6.875rem;
    height:2.5rem;
}
.rounds{
    width:6.5625rem;
    height:2.8125rem;
}
.discount{
    width:7.5rem;
    height:7.5rem;
}
.headphone{
    width:21.875rem;
    height:21.875rem;
}
@media only screen and (max-width: 1270px) {
    html {
       font-size:57%;
    }
  }
   @media only screen and (max-width: 1074px) {
    html {
       font-size:57%;
    }
  }
   @media only screen and (max-width: 998px) {
    html {
       font-size:55%;
    }
    .intro-section{
        display:flex;
        flex-direction:column; 
    }
  }
  @media only screen and (max-width: 768px) {
    html {
       font-size:45%;
    }
  }
  @media only screen and (max-width: 568px) {
    html {
       font-size:35%;
    }
  }
  @media only screen and (max-width: 468px) {
    html {
       font-size:30%;
    }
  }
  @media only screen and (max-width: 384px) {
    html {
       font-size:20.5%;
    }
  }
  @media only screen and (max-width: 268px) {
    html {
       font-size:17%;
    }
  }
  @media only screen and (max-width: 228px) {
    html {
       font-size:15%;
    }
  }
  @media only screen and (max-width: 192px) {
    html {
       font-size:11.25%;
    }
  }
